<!DOCTYPE html>

<html>

<head>
    <title>Admin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="bg-info">
    <div class="row">
        <div class="col-md-10 offset-md-1" style="background-color: #fff;margin-top: 25px;padding:20px;">
            <h3>Selamat Datang {{this.message}}</h3>
        <a href="/buku/list">Daftar Buku</a>
        <br>
        <a href="/admin/listuser">Data User</a>
        <br>
        <a href="/admin/logout">Logout</a>
        </div>
    </div>
</body>

</html>